@model IEnumerable<Trabalho_PWEB.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index Empresas</h1>

<p>
    <a asp-action="Create">Criar Nova Empresa</a>
</p>
<div class="row">
    <h2>Pesquisas</h2>    
</div>
<div class="row border  border-dark rounded">
    <a asp-action="Index">Todos</a>
    <a asp-action="Index" asp-route-opcao="1">Subcrição Inativa</a>
    <a asp-action="Index" asp-route-opcao="2">Subcrição Ativa</a>
    <div class="row">
        <form asp-controller="Empresas" asp-action="Search" method="post"> 
            <div class="form-group pt-2 pb-2">
                <input type="text" name="nome" placeholder="Nome da Empresa"/>
                <button type="submit">Pesquisar</button>
            </div>
        </form>
    </div>
</div>
<div class="row pt-2">
    <h2>Listagem</h2>    
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoSubscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avaliação)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoSubscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avaliação)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
