@model IEnumerable<Trabalho_PWEB.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<a asp-action="Index">Todos</a>
<a asp-action="Index" asp-route-disponivel="1">Subcrição Inativa</a>
<a asp-action="Index" asp-route-disponivel="2">Subcrição Ativa</a>
<a asp-action="Index" asp-route-disponivel="3">POR NOME (FAZER)</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoSubscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avaliação)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoSubscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avaliação)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
