@model IEnumerable<Trabalho_PWEB.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>

<p>
    <a asp-action="Create">Criar nova Categoria</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="col-md-10">
                @Html.DisplayNameFor(model => model.NomeCategoria)
            </th>
            <th class="col-md-2"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="col-md-10">
                @Html.DisplayFor(modelItem => item.NomeCategoria)
            </td>
            <td class="col-md-2">
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
