@model ListReservasClienteViewModel

@{
    ViewData["Title"] = "Historico";
}

<h1>Historico</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                ID Reserva
            </th>
            <th>
                Matricula
            </th>
            <th>
                Data Levantamento
            </th>
            <th>
                Data Entrega
            </th>
            <th>
                Acabou?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (int i=0;i<Model.r.Count;i++) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.r[i].Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.v[i].Matricula)
            </td>
            <td>
                @Model.r[i].DataLevantamento.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Model.r[i].DataEntrega.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.r[i].Acabou)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@Model.r[i].Id">Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
