@model ListReservasViewModel

@{
    ViewData["Title"] = "Lista";
    string msg = "";
    if(ViewBag.msg != null)
    {
        msg = ViewBag.msg;
    } 
}

<h1>Lista</h1>

<p>
    <a asp-action="Historico">Historico de Reservas Acabadas</a>
</p>
<div class="row">
    <div class="form-group">
        <span class="text-danger">@msg</span>
     </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                ID Reserva
            </th>
            <th>
                Email Reservante
            </th>
            <th>
                Matricula
            </th>
            <th>
                Data Levantamento
            </th>
            <th>
                Data Entrega
            </th>
            <th>
                Aceite?
            </th>
            <th>
                Ativa?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (int i=0;i<Model.reservas.Count;i++) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.reservas[i].Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.users[i].Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.veiculo[i].Matricula)
            </td>
            <td>
                @Model.reservas[i].DataLevantamento.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Model.reservas[i].DataEntrega.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.reservas[i].ReservaAceite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.reservas[i].Ativa)
            </td>
            <td>
                @if (Model.reservas[i].ReservaAceite == false && DateOnly.FromDateTime(Model.reservas[i].DataEntrega).CompareTo(DateOnly.FromDateTime(DateTime.Now)) >= 0){
                        <a asp-action="Aceitar" asp-route-id="@Model.reservas[i].Id">Aceitar Reserva</a>
                }
                @if (Model.reservas[i].ReservaAceite == false){
                    <a asp-action="Rejeitar" asp-route-id="@Model.reservas[i].Id">Rejeitar Reserva</a>
                }
                @if (Model.reservas[i].ReservaAceite == true && Model.reservas[i].Ativa==false){
                    <a asp-action="Entregar" asp-route-id="@Model.reservas[i].Id">Levantar Veiculo </a>
                }
                @if (Model.reservas[i].ReservaAceite == true && Model.reservas[i].Ativa==true){
                    <a asp-action="Receber" asp-route-id="@Model.reservas[i].Id">Entregar Veiculo a Empresa </a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
