@model IEnumerable<Trabalho_PWEB.Models.Veiculo>

@{
    ViewData["Title"] = "Index";
    List<Categoria> c;
    if (ViewBag.c!=null){
        c = ViewBag.c;
    }else{
        c = new List<Categoria>();
    }
}

<h1>Veiculos</h1>

<p>
    <a asp-action="Create">Criar um Veiculo</a>
</p>
<div class="row">
    <h2>Pesquisas</h2>    
</div>
<div class="row border">
    <div class="row p-1">
        <form asp-action="Index" asp-route-opcao="1">
            <div class="row form-group">
                <div class="col-2">
                    <select class="form-control" name="cat" id="cat">
                        <option value="0"></option>
                    @for(var i=0;i<c.Count;i++){
                        <option value="@c[i].Id"> @c[i].NomeCategoria</option>
                    }
                    </select>
                </div>
                <div class="col-2">
                    <button style="color:black;background-color:lightgray"class="btn btn-outline-secondary form-control">Pesquisar Por Categoria</button>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localização)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.NomeCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localização)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
